@charset "UTF-8";

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html > body {
	font-family: 'TTLaundryGothicB';
	text-underline-position: under;
}

.table-box-type > table {
	width: 100%;
}

.btns > button:hover, .btns > a:hover {
	background-color: rgb(55 48 163);
	color: white;
}

/* .btns > button, .btns > a { */
/* 	background-color: rgb(99 102 241); */
/* 	border: 1px solid rgb(99 102 241); */
/* 	border-radius: 0.375rem; */
/* 	padding: 4px; */
/* } */

.table-box-type > table th, .table-box-type > table td {
	padding: 10px 0;
	text-align: center;
}